.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-center;
    align-items: center;
    width: 30%;
    height: 65%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-style: solid #aa5454;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Roboto', sans-serif;
}